.allscenarios {
  color: white;
  margin-left: 20%;
  background-color: rgb(27, 23, 23);
  padding-top: 2%;
  padding-left: 8%;
  height: 96%;
  overflow: hidden;
}

table {
  margin-top: 3%;
  width: 66vw;
  border-collapse: collapse;
}

tr {
  background-color: azure;
  color: rgb(122, 93, 93);
  border: 1px solid black;
}

th,
td {
  font-weight: 600;
  align-items: center;
  padding: 15px;
}

th {
  color: white;
  background-color: rgb(65, 56, 56);
}

td {
  text-align: center;
  color: black;
}

.buttonsrow {
  display: flex;
  padding-top: 6%;
  font-size: x-large;
  align-items: center;
}

p {
  margin-right: 47%;
}

.icon {
  font-size: x-large;
}
