.home {
    color: white;
    top: 0;
    margin-left: 20%;
    background-color: rgb(27, 23, 23);
    height: 100%;
}
.scenario {
    padding-top: 5%;
    padding-left: 5%;
}

select {
    margin-top: 20px;
}

.table {
    padding-top: 10px;
    padding-left: 40px;
}